<% provide(:title, 'Boards') %>
 <div class="inner-section">
 	<h1>Your Brainstorming Starts Here!</h1>
 	<body>
		<%= form_for(@board) do |f| %>
      		<%= f.label :"Name of the new board:" %>
     		<%= f.text_field :title, class: 'form-control' %>
     		<%= f.submit "Create New Board", class: "btn btn-primary" %>
   	    <% end %>
   	</body>
   	<body>
   	<br></br>
  	<div class="container">
  		<h3>List of Boards</h3>
    	<table class="table">
    		<thead>
      			<tr>
        			<th>Board Name</th>
     			</tr>
    		</thead>
    	<tbody>
    		<% @user.boards.each do |board| %>
    			<tr>
      			<td><%= board.title %></td>
      			<td><%= link_to 'Show', board %></td>
      			<td><%= link_to 'Edit', controller: "boards", action: "edit", id: board %></td>
     			<td><%= link_to 'Destroy', board, method: :delete %></td>
  				</tr>
    		<% end %>
  		</tbody>
  		</table>
	</div>
	</body>
 </div>
