<!-- I'm sure there's a better way to check if a user has access to a board -->
<!-- Feel free to change it, I just needed it to work-->
<% user_found = false %>
<% @board.users.each do |user| %>
  <% if session["user_id"] == user.id %>
    <% user_found = true %>
  <% end %>
<% end %>

<% if user_found == false %>
  <script type="text/javascript">
    window.location.href="/boards"
  </script>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js'></script>

  <%= javascript_include_tag "board" %>
  <%= javascript_include_tag "jscolor" %>

  <script>
    // please keep it here it doesn't work from the board js somehow -a
  function setBackgroundColor(picker) {
    
    var newColor = '#' + picker.toString();
    canvas.backgroundColor = newColor;
    canvas.renderAll();
  }
    
  </script>

</head>
<body id="boardBody">

  <ul>
    <div class="content" data-id="<%= @board.canvas_content %>"></div>
    <div class="boardId" data-id="<%= @board[:id] %>"></div>

    <li><%= link_to '<button class="tool"">Back</button>'.html_safe, "../boards" %></li>
    <p id="boardName"><b> <%= @board.title %> </b></p>
    <li><button class="tool" id="add">Add Text</button></li>
    <li><button class="tool" id="addImage">Add Image</button></li>
    <li><div class="dropdown">
    <button id ="bgcolor-button" class = "jscolor-active tool"> Background </button>
      <div class="dropdown-content" id="bgDropdown">
        <input id="bgcolor-input" class="jscolor {onFineChange:'setBackgroundColor(this)'}" value="ffffff">
      </div>
    </li> 
    <li><button class="tool" id="delete">Delete</button></li>
    <li><button class="tool" id="draw">Draw</button></li>
    <li><button class="tool" id="save">Save</button></li>
    <li><button class="tool" id="ppl">People</button></li>
  </ul>

  <form id="imgForm">
    Image Link: <input type="text" name="imgLink">
    <button type="button" id="imgLinkInput">Submit</button>
  </form>

  <div id="notesContainer"></div>
  <canvas id="drawingCanvas"></canvas>

</body>
</html>
